name: Publish Label

on:
  pull_request:
    types: [labeled]

permissions:
  contents: read
  packages: write

jobs:
  publish-rc:
    if: github.event.label.name == 'publish'
    uses: rzavadzich/innowise-ci-workflows/.github/workflows/npm-publish.yml@main
    with:
      tag: rc
      version-suffix: '-dev-${{ github.event.pull_request.head.sha }}'
      check-version-exists: true
    secrets: inherit
