name: Release

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  publish:
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'publish')
    permissions:
      contents: read
      packages: write
    uses: rzavadzich/innowise-ci-workflows/.github/workflows/npm-publish.yml@main
    with:
      tag: latest
      check-version-exists: true
    secrets: inherit

  create-release:
    needs: publish
    permissions:
      contents: write
    uses: rzavadzich/innowise-ci-workflows/.github/workflows/create-release.yml@main
    secrets: inherit
